@model Ejercicio1.Models.Entities.Persona
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form>
    <h1>Formulario para editar una persona.</h1>
    @Html.TextBoxFor(model => model.Nombre)
    @Html.TextBoxFor(model => model.Edad)
    <select>
        <option value="3">Marketing</option>
        <option value="1">RRHH</option>
        <option value="2">Desarrollo</option>
        <option value="4">Ventas</option>
        <option value="5">Finanzas</option>
    </select>
    <input type="submit" value="Guardar Cambios" />
</form>