@model Ejercicio1.Models.Entities.Persona
@{
    ViewData["Title"] = "Home Page";
}

    <h1 class="display-4">Welcome</h1>
   <h1>@ViewData["Nombre"]</h1>
   <h1>@ViewBag.Hora</h1>
   <h1>@Model.Nombre @Model.Edad</h1>
    

