@model List<Ejercicio1.Models.Entities.Persona>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>
    <table border="1" cellpadding="10">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Edad</th>
            </tr>
        </thead>
        <tbody>
            @for(int i = 0; i< @Model.Count; i++)
            {
                <tr>
                    <td>@Model[i].Nombre</td>
                    <td>@Model[i].Edad</td>
                </tr>
            }
        </tbody>




    </table>
</h1>

@Html.ActionLink("Volver al inicio", "Index", "Home")